In [17]:
import os
os.chdir('/home/jovyan/work')

In [18]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /opt/conda/lib/python3.9/site-packages (7.0.0)
Requirement already satisfied: numpy>=1.16.6 in /opt/conda/lib/python3.9/site-packages (from pyarrow) (1.21.5)

In [19]:
import pandas as pd

In [13]:
import logging

if __name__ == "__main__":
    logging.basicConfig(
        format='%(asctime)s %(levelname)s: %(message)s',
        level=logging.INFO,
        force=True,
    )

log = logging.getLogger(__name__)

In [21]:
import notebooks
from notebooks import data_storage

articles = data_storage.load_dataset('articles')
customers = data_storage.load_dataset('customers')
transactions = data_storage.load_dataset('transactions_train')

In [22]:
# pick a random customer and show all of their data
customer_id = customers['customer_id'].sample().iloc[0]
log.info('%s', customer_id)

transactions[transactions['customer_id'] == customer_id]

2022-04-17 04:00:43,247 INFO: 6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29f488adb1d938aa7c04

,t_dat,customer_id,article_id,price,sales_channel_id
23376981,2020-03-13,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,818754001,0.016932,2
23534030,2020-03-19,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,762796001,0.030492,1
24245338,2020-04-07,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,737483002,0.010153,2
24245339,2020-04-07,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,816423004,0.025407,2
24245340,2020-04-07,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,576897002,0.008458,2
24245341,2020-04-07,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,748140001,0.025407,2
26746716,2020-06-03,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,834217009,0.016932,1
26746717,2020-06-03,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,841699003,0.025407,1
26746718,2020-06-03,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,688537004,0.016932,1
26746719,2020-06-03,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,776237011,0.025407,1
26746720,2020-06-03,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,868018003,0.013542,1
26746721,2020-06-03,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,776237008,0.025407,1
27379898,2020-06-17,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,399223001,0.025407,1
27379899,2020-06-17,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,834412010,0.025407,1
27379900,2020-06-17,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,867044001,0.033881,1
28425617,2020-07-01,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,743098002,0.008458,1
28425618,2020-07-01,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,743098002,0.008458,1
28425619,2020-07-01,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,743098002,0.008458,1
28425620,2020-07-01,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,743098002,0.008458,1
28537816,2020-07-03,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,214844001,0.001678,1
28537817,2020-07-03,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,618287008,0.044051,1
28537818,2020-07-03,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,488614012,0.006763,1
28537819,2020-07-03,6697b5b34eb860d00f86916a9d056ba69ba691ca4b4e29...,745232002,0.025407,1

In [24]:
# pick a random article and show all of it's data
article_id = articles['article_id'].sample().iloc[0]
log.info('%s', article_id)

transactions[transactions['article_id'] == article_id]

2022-04-17 04:02:56,526 INFO: 525583002

,t_dat,customer_id,article_id,price,sales_channel_id
9057792,2019-04-20,dd57f1bb2257eb7f5a6bcd65399c4a2776a3f85700b5c8...,525583002,0.016949,1
14250564,2019-07-22,52219b45ab510aa029ac3c222d5cb5a608d4b3a942216d...,525583002,0.033881,2
27910617,2020-06-24,45acc74c4442deb19afdde1599d29711d89bc4570bc74e...,525583002,0.018627,1

In [66]:
log.info('%s \tdistinct customers', f'{len(customers["customer_id"].unique()):,}')

for col in articles.columns:
    log.info('%s \tdistinct %ss', f'{len(articles[col].unique()):,}', col)

2022-03-20 15:30:30,679 INFO: 1,371,980 	distinct customers
2022-03-20 15:30:30,684 INFO: 105,542 	distinct article_ids
2022-03-20 15:30:30,686 INFO: 47,224 	distinct product_codes
2022-03-20 15:30:30,694 INFO: 45,875 	distinct prod_names
2022-03-20 15:30:30,695 INFO: 132 	distinct product_type_nos
2022-03-20 15:30:30,699 INFO: 131 	distinct product_type_names
2022-03-20 15:30:30,704 INFO: 19 	distinct product_group_names
2022-03-20 15:30:30,705 INFO: 30 	distinct graphical_appearance_nos
2022-03-20 15:30:30,710 INFO: 30 	distinct graphical_appearance_names
2022-03-20 15:30:30,711 INFO: 50 	distinct colour_group_codes
2022-03-20 15:30:30,715 INFO: 50 	distinct colour_group_names
2022-03-20 15:30:30,716 INFO: 8 	distinct perceived_colour_value_ids
2022-03-20 15:30:30,721 INFO: 8 	distinct perceived_colour_value_names
2022-03-20 15:30:30,722 INFO: 20 	distinct perceived_colour_master_ids
2022-03-20 15:30:30,726 INFO: 20 	distinct perceived_colour_master_names
2022-03-20 15:30:30,727 INFO: 299 	distinct department_nos
2022-03-20 15:30:30,732 INFO: 250 	distinct department_names
2022-03-20 15:30:30,735 INFO: 10 	distinct index_codes
2022-03-20 15:30:30,740 INFO: 10 	distinct index_names
2022-03-20 15:30:30,741 INFO: 5 	distinct index_group_nos
2022-03-20 15:30:30,745 INFO: 5 	distinct index_group_names
2022-03-20 15:30:30,746 INFO: 57 	distinct section_nos
2022-03-20 15:30:30,751 INFO: 56 	distinct section_names
2022-03-20 15:30:30,752 INFO: 21 	distinct garment_group_nos
2022-03-20 15:30:30,756 INFO: 21 	distinct garment_group_names
2022-03-20 15:30:30,784 INFO: 43,405 	distinct detail_descs